node_modules/
build/
dist/
out/

*.vsix
*.taskkey
*.js.map
npm-debug.log

ServiceNow/Web/Tasks/*ServiceNow*/models.ts
ServiceNow/Web/Tasks/*ServiceNow*/serviceNowClient.ts
ServiceNow/Web/Tasks/**/*.js
ServiceNow/Web/WebExtensions/libs
ServiceNow/Web/WebExtensions/css
package-lock.json